<% layout('./layouts/boilerplate')%>

<div class="row my-5">
  <h1 class="text-center">Edit course</h1>
  <div class="col-6 offset-3">
    <form
      action="/courses/<%=course._id%>?_method=PUT"
      method="POST"
      class="validated-form"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title </label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="course[title]"
          value="<%= course.title%>"
          required
        />
        <div class="invalid-feedback text-end">Please fill in the blank</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location </label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="course[location]"
          value="<%= course.location%>"
          required
        />
        <div class="invalid-feedback text-end">Please fill in the blank</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image"> Add Images</label>
        <input class="form-control" type="file" name="image" id="" multiple />
        <!-- <input
          class="form-control"
          type="text"
          id="image"
          name="course[image]"
          value="<%= course.image%>"
          required
        /> -->
        <div class="invalid-feedback text-end">Please fill in the blank</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            type="text"
            id="price"
            name="course[price]"
            value="<%= course.price%>"
            aria-label="price"
            aria-describedby="price-label"
            required
          />
          <div class="invalid-feedback text-end">Please fill in the blank</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="course[description]"
          rows="3"
          required
        >
<%=course.description%></textarea
        >
        <div class="invalid-feedback text-end">Please fill in the blank</div>
      </div>
      <div class="mb-3">
        <% course.images.forEach(function (img, i) {%>

        <img src="<%=img.url%>" class="d-block w-100 img-thumbnail" alt="..." />
        <div class="form-check-inline">
          <input
            type="checkbox"
            name="deleteImages[]"
            id="image-<%=i%>"
            value="<%=img.filename%>"
          />
        </div>
        <label for="image-<%=i%>">Remove Image</label>

        <% }) %>
      </div>

      <div class="text-end">
        <button class="btn btn-info">Update Course</button>
        <a class="btn btn-danger" href="/courses/<%= course._id%>">Cancel</a>
      </div>
    </form>
  </div>
</div>
<!-- 
<h1>Edit Course</h1>
<h2>Form Here</h2>
<form action="/courses/<%=course._id%>?_method=PUT" method="POST">
  <div class="">
    <label for="">Title </label>
    <input
      type="text"
      id="title"
      name="course[title]"
      value="<%= course.title%>"
    />
  </div>
  <div class="">
    <label for="">Location </label>
    <input
      type="text"
      id="location"
      name="course[location]"
      value="<%= course.location%>"
    />
  </div>
  <button>Update</button>
  <button><a href="/courses/<%= course._id%>">Cancel</a></button>
</form> -->
