<% layout('./layouts/boilerplate') %>

<div class="row">
  <div class="col-6 offset-3">
    <div class="card my-4">
      <div class="card-footer">
        <a href="/courses" class="card-link d-flex align-items-end">
          Back to all courses</a
        >
      </div>
      <img src="<%=course.image %>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%=course.title %></h5>
        <p class="card-text"><%=course.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%=course.location %></li>
        <li class="list-group-item">$ <%=course.price %>.00 /round</li>
        <li class="list-group-item">
          <a href="#" class="card-link">Website</a>
        </li>
      </ul>
      <div class="card-body d-flex justify-content-end">
        <a
          class="btn btn-info d-flex justify-content-end mr-2"
          href="/courses/<%= course._id %>/edit"
          class="card-link"
          >Edit</a
        >

        <form
          class="card-link d-inline"
          action="/courses/<%= course._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger ml-2">Remove</button>
        </form>
      </div>
    </div>
    <h3>Leave a Review</h3>

    <form class="mb-4">
      <div class="mb-3">
        <label class="form-label" for="rating" id="rating">Rating</label>
        <input
          class="form-range"
          type="range"
          min="1"
          max="5"
          name="review[rating]"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="body">Review </label>
        <textarea
          class="form-control"
          name="review[body]"
          id="body"
          cols="30"
          rows="5"
        ></textarea>
      </div>
      <button class="btn btn-info float-right">Submit</button>
    </form>
  </div>
</div>

<!-- <h1>show page</h1> -->
<!-- <h2><%=course.title %></h2>
<h3><%=course.location %></h3>
<img src="<%=course.image %>" alt="" class="figure-img img-fluid rounded" />
<p><%=course.description%></p>
<p>$ <%=course.price%>.00</p>
<footer>
  <button><a href="/courses/<%= course._id %>/edit">Edit</a></button>

  <form action="/courses/<%= course._id %>?_method=DELETE" method="POST">
    <button>Remove</button>
  </form>

  <button><a href="/courses">All Courses</a></button>
</footer> -->
