<% layout('./layouts/boilerplate') %>
<link rel="stylesheet" href="/css/stars.css" />

<div class="row">
  <div class="col-12 d-flex justify-content-center mb-5">
    <div id="map"></div>
  </div>

  <div class="col-6">
    <div class="card my-4">
      <div class="card-footer d-flex align-items-end">
        <a href="/courses" class="card-link"> Back to all courses</a>
      </div>

      <div id="courseCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% course.images.forEach((img, i)=> {%>
          <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
            <img src="<%=img.url %>" class="d-block w-100" alt="..." />
          </div>

          <% }) %>
        </div>
        <% if (course.images.length > 1) { %>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#courseCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#courseCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <% } %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%=course.title %></h5>
        <p class="card-text text-muted fst-italic"><%=course.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%=course.location %></li>
        <li class="list-group-item text-muted">
          $ <%=course.price %>.00 /round
        </li>

        <li class="list-group-item">
          <a href="#" class="card-link">Website</a>
        </li>
      </ul>
      <% if(currentUser && course.author.equals(currentUser._id)) { %>

      <div class="gap-2 p-3" style="margin-left: auto">
        <a
          class="btn btn-info"
          href="/courses/<%= course._id %>/edit"
          class="card-link"
          >Edit</a
        >

        <form
          class="card-link d-inline"
          action="/courses/<%= course._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger ml-2">Remove</button>
        </form>
      </div>
      <% } %>

      <div class="card-footer">
        <a class="text-muted"> by: <%=course.author.username %> </a>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="review my-4">
      <h4>Leave a Review</h4>

      <form
        class="mb-4 validated-form"
        action="/courses/<%=course._id%>/reviews"
        method="POST"
        novalidate
      >
        <fieldset class="starability-basic">
          <p>Rate:</p>
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="review[rating]"
            value="0"
            checked
            aria-label="No rating."
          />
          <input
            type="radio"
            id="first-rate1"
            name="review[rating]"
            value="1"
          />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input
            type="radio"
            id="first-rate2"
            name="review[rating]"
            value="2"
          />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input
            type="radio"
            id="first-rate3"
            name="review[rating]"
            value="3"
          />
          <label for="first-rate3" title="Average">3 stars</label>
          <input
            type="radio"
            id="first-rate4"
            name="review[rating]"
            value="4"
          />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input
            type="radio"
            id="first-rate5"
            name="review[rating]"
            value="5"
          />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
        <div class="my-3">
          <label class="form-label" for="body">Review </label>
          <% if(currentUser){%>

          <textarea
            class="form-control"
            name="review[body]"
            id="body"
            cols="30"
            rows="3"
            required
            placeholder="Write a review"
          ></textarea>
          <% } else {%>
          <textarea
            class="form-control"
            name="review[body]"
            id="body"
            cols="30"
            rows="3"
            required
            placeholder="Please log in to write a review."
          ></textarea>
          <% } %>

          <div class="invalid-feedback text-end">Cannot be blank</div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <% if(currentUser){%>
          <button class="btn btn-info">Submit</button>
          <% } %>
        </div>
      </form>

      <h4>Reviews</h4>
      <% for (let review of course.reviews) {%>
      <div class="card">
        <div class="card-body">
          <p
            class="starability-result card-title"
            data-rating="<%= review.rating%>"
          ></p>
          <p class="card-text fst-italic">"<%= review.body%>"</p>
          <p class="card-title text-muted text-end">
            by: <%= review.author.username%>
          </p>
        </div>

        <div class="d-grid d-flex justify-content-end">
          <% if( currentUser && review.author.equals(currentUser._id)) {%>

          <form
            class="card-link d-inline"
            action="/courses/<%= course._id %>/reviews/<%=review._id%>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-danger m-2">Remove</button>
          </form>
          <% } %>
        </div>
      </div>
      <% }%>
    </div>
  </div>
</div>

<!-- map script -->
<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
  const course = <%-JSON.stringify(course)%>
</script>
<script src="/js/map.js"></script>

<!-- for reference. IMAGES -->
<!-- <% for (let img of course.images) {%>
      <img src="<%=img.url %>" class="card-img-top" alt="..." />
      <% } %> -->
<!-- <img src="<%=course.image %>" class="card-img-top" alt="..." /> -->
